/* Extra small devices */
@media (max-width: 576px) { 
    body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    margin: 0%;
    color:#747474;
    } 
} 
/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) and (max-width: 768px) {body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    margin: 0%;
    color:#747474;
}} 
/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) and (max-width: 992px)  {body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    margin: 0%;
    color:#747474;
}} 
/* Large devices (desktops, 992px and up)  */
@media (min-width: 992px) and (max-width: 1200px)  { body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    margin: 0%;
    color:#747474;
} } 
/* Extra large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) {body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    margin: 0%;
    color:#747474;
}}

.navBar{
    display:flex;
    height: 70px;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    color: #ababab;
    padding: 0.2rem 0;
    font-size: large;
}
.logoPic{
    height: auto;
    width: auto;
}

.listItems{
    display:flex;
    gap:1rem;
}
.spcLi1 , .spcLi1:hover{
    color: #00b39b;
    cursor: pointer;
}
.spcLi2:hover{
    color: #00b39b;
    cursor: pointer;
} 

.paraLogo {
    display: flex;
    justify-content:center;
    align-items: center;
    height:100px;
    margin-top: 3rem;
}
.paralogo{
    height: 40px;
    width: 40px;
    position: absolute;
}
h1{
    color: #00b39b;
    text-align: center;
    font-weight: 100;
}
.paras{
    display: flex;
    width: 100%;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-right: 260px;
    padding-left: 260px;
    gap:20px;
    font-size: large;
}
.for{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 200;
    margin: 1rem auto 1rem;
    padding: 0 20rem;
    font-size: x-large;
    max-width: 1200px;
}
.size{
    height: 350px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
img{
    width: 25px;
    height: auto;
}
.pats{
    background-color: #00ccb1;
}
.docs{
    background-color: #3d83df;
}
.clies{
    background-color: #1b2734;
}

option{
    background: transparent;
}
#patsList{
    text-decoration: underline;
    border: none;
    background-color: #00ccb1;
    color: white;
    font-size: x-large;
}
#docsList{
    background-color: #3d83df;
    color: white;
    border: none;
    text-decoration: underline;
    font-size: x-large;
}

#specsList , #moreSpecs{
    display: flex;
    background-color: #1b2734;
    color: white;
    border: none;
    text-decoration: underline;
    font-size: x-large;
    padding-top: 15px;
}
.s1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    color:#00b39b ;
    font-size: xx-large;
}
.ps1{
    padding-right: 50px;
}
.imgsSec{
    display: flex;
    padding-right: 200px ;
    flex-wrap: wrap;
    gap: 4rem;
}
.imgsSec img{
    height: 1rem;
    width: auto;
}

.s2{
    background-color: #d0faf4;
    display: flex;
    justify-content: space-around;
    height: auto;
    margin: 0;
    padding-top:20px ;
}
.s2div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.s2h2{
    color: #00b39b;
    font-weight:100 ;
    letter-spacing: 1px;
}
.p2h2{
    font-size: large;
}
.s2div img{
    height: auto;
    width: auto;
}
.minis{
    padding-right:200px ;
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2,fit-content);
    column-gap: 110px;
    justify-content: space-around;
}
.mini1 , .mini2 , .mini3 , .mini4{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    padding:40px;
    margin: 20px;
}
h3{
    color:#00ccb1;
    font-size: xx-large;
    font-weight: 100;
}
.s3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 70px;
}

.places{
    height: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    border-radius:10px ;
}
.place1 , .place2 , .place3 , .place4 , .place5 ,
.place6 , .place7, .place8, .place9 {
    width: auto;
    height: auto;
    border-radius: 10px;
}
.place1:hover,.place2:hover,.place3:hover,
.place4:hover,.place5:hover,.place6:hover,
.place7:hover,.place8:hover,.place9:hover{
    box-shadow: 1px 1px 20px 0.1px;
}
.placeFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.place1 img , .place2 img, .place3 img, .place4 img, .place5 img,
.place6 img, .place7 img, .place8 img, .place9 img{
    width: 300px;
    height: 300px;
    border-radius:10px ;
}
button{
    border: none;
    background-color: #3d83df;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}
button:hover{
    cursor: pointer;
}
.final{
    display: flex;
    margin: 50px;
    justify-content: center;
}
h4{
    font-size: xx-large;
    font-weight: 100;
}
.s3final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{    
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-weight: 200;
    flex-wrap: wrap;
}